body            { font-family:'Minion Pro'; background-color: #333333 }
 h1, h2, h3, h4       { color: #CCCCCC; }
h1, h2          { font-family: 'Minion Pro', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.5em;background-color: white; color: black}
t               { color: black;font-size: 1.0em; background-color: white}
p               { color: #CCCCCC;font-size: 1.3em;}
plain           { color: white; font-size: 0.8em; font-family: 'Times New Roman'}
e               { color: #D8D8D8}

a {text-decoration: none; color:#FFFFCC; font-size: .75em;}

.pane {position:absolute; left: 25%; border: 2px solid;
    border-radius: 25px; padding: 30px; margin: 30px; border-color: #999999}
.header         {left:50%; text-align: center;}
.name {width:100%;display: inline-block; float: left;background-color: white}
.description {}
.price {text-align: right; width:40%; float: right; }
.editdeletepane{}

.flash          { background: #cee5F5; }
.error          { background: #f0d6d6; padding: 0.5em; }
