<html>

<header>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	
	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{ restaurant.name }}</h1>
	</div>

	<a href = '{{url_for('newMenuItem', restaurant_id = restaurant.id)}}'><span class = 'price'>Create Item</span></a>
	<a href = '{{url_for('showRestaurants') }}'>Back to All Restaurants</a>
	</br>
	</br>
	
<div class = 'flash'>
	{% with messages = get_flashed_messages()%}
	{% if messages %}
	<ul>
	{% for message in messages %}
	  <li><strong>{{message}}</strong></li>
	  {% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</div>
	
	
	{% for i in items %}

	<span class = 'name'><t>{{i.name}}</t></span>
	<span class = 'price'><plain> {{i.price}}</plain></span>
	<div class = 'description'><plain>{{i.description}}</plain></div>
	
	<div class = "editdeletepane">
	<a href = '{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}'><e>Edit</e></a>
	<a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}'><e>Delete</e></a>
	</br>
	</br>
	
	
	
	{% endfor %}
</div>
</div>
	</body>


</html>